[Unit]
Description=i2vnc Service
After=multi-user.target

[Service]
Type=idle
ExecStart=xinit ~/i2vnc/i2vnc -cfile=~/i2vnc/deploy/config.yaml --forever

[Install]
WantedBy=multi-user.target